[ssh-reverse-proxy]

# By default SshReverseProxy will try to recover as much as possible from
# any kind of error it encounters. However, sometimes it may be
# desirable to stop execution when a panic() occurs. Setting this to
# true will ensure the application does not recover but halts execution
# instead.
exit-on-panic = false

# The address to listen on
listen = "0.0.0.0:2222"

# The key file to use
key-file = "/etc/sshReverseproxy/id_rsa"

[file-user-backend]
enabled = true

# The path to use for the user bckend. Expects a format in the form of:
# username1 host:port\n
# username2 host:port\n
path = /etc/sshreverseproxy/usermap.cf

# Do not load a new map if this number of entries is not reached.
min-entries = 1000
